acres==0.5.0
    # via bidsschematools
aiohappyeyeballs==2.6.1
    # via aiohttp
aiohttp==3.13.4
    # via nwbinspector
aiosignal==1.4.0
    # via aiohttp
annotated-types==0.7.0
    # via pydantic
arrow==1.4.0
    # via isoduration
asciitree==0.3.3
    # via zarr
attrs==26.1.0
    # via
    #   aiohttp
    #   jsonschema
    #   referencing
bids-validator-deno==2.4.1
    # via dandi
bidsschematools==1.2.2
    # via dandi
blessed==1.38.0
    # via pyout
certifi==2026.2.25
    # via requests
cffi==2.0.0
    # via cryptography
charset-normalizer==3.4.6
    # via requests
ci-info==0.4.0
    # via etelemetry
click==8.1.8
    # via
    #   bidsschematools
    #   click-didyoumean
    #   dandi
    #   nwbinspector
    #   zarr-checksum
click-didyoumean==0.3.1
    # via dandi
cryptography==46.0.6
    # via secretstorage
dandi==0.74.3
    # via -r requirements.in
dandischema==0.12.1
    # via dandi
deprecated==1.3.1
    # via numcodecs
dnspython==2.8.0
    # via email-validator
email-validator==2.3.0
    # via pydantic
etelemetry==0.3.1
    # via dandi
fasteners==0.20
    # via
    #   dandi
    #   zarr
fqdn==1.5.1
    # via jsonschema
frozenlist==1.8.0
    # via
    #   aiohttp
    #   aiosignal
fscacher==0.4.4
    # via dandi
fsspec==2026.3.0
    # via nwbinspector
h5py==3.16.0
    # via
    #   -r requirements.in
    #   hdmf
    #   pynwb
    #   remfile
hdmf==4.3.1
    # via
    #   dandi
    #   hdmf-zarr
    #   pynwb
hdmf-zarr==0.12.0
    # via nwbinspector
humanize==4.15.0
    # via dandi
idna==3.11
    # via
    #   email-validator
    #   jsonschema
    #   requests
    #   yarl
interleave==0.3.0
    # via dandi
isodate==0.7.2
    # via nwbinspector
isoduration==20.11.0
    # via jsonschema
jaraco-classes==3.4.0
    # via
    #   keyring
    #   keyrings-alt
jaraco-context==6.1.2
    # via
    #   keyring
    #   keyrings-alt
jaraco-functools==4.4.0
    # via keyring
jeepney==0.9.0
    # via
    #   keyring
    #   secretstorage
joblib==1.5.3
    # via
    #   dandi
    #   fscacher
jsonpointer==3.1.1
    # via jsonschema
jsonschema[format]==4.26.0
    # via
    #   dandischema
    #   hdmf
    #   nwbinspector
    #   pyout
jsonschema-specifications==2025.9.1
    # via jsonschema
keyring==25.7.0
    # via dandi
keyrings-alt==5.0.2
    # via dandi
ml-dtypes==0.5.4
    # via tensorstore
more-itertools==10.8.0
    # via
    #   jaraco-classes
    #   jaraco-functools
multidict==6.7.1
    # via
    #   aiohttp
    #   yarl
natsort==8.4.0
    # via nwbinspector
neo==0.14.4
    # via spikeinterface
numcodecs==0.15.1
    # via
    #   dandi
    #   hdmf-zarr
    #   spikeinterface
    #   zarr
numpy==2.4.4
    # via
    #   h5py
    #   hdmf
    #   hdmf-zarr
    #   ml-dtypes
    #   neo
    #   numcodecs
    #   pandas
    #   probeinterface
    #   pynwb
    #   quantities
    #   remfile
    #   spikeinterface
    #   tensorstore
    #   zarr
nwbinspector==0.7.1
    # via dandi
packaging==26.0
    # via
    #   dandi
    #   dandischema
    #   etelemetry
    #   neo
    #   nwbinspector
    #   probeinterface
    #   spikeinterface
    #   zarr
pandas==2.3.3
    # via
    #   hdmf
    #   pynwb
platformdirs==4.9.4
    # via
    #   dandi
    #   fscacher
    #   pynwb
probeinterface==0.3.2
    # via spikeinterface
propcache==0.4.1
    # via
    #   aiohttp
    #   yarl
pycparser==3.0
    # via cffi
pycryptodomex==3.23.0
    # via dandi
pydantic[email]==2.12.5
    # via
    #   dandi
    #   dandischema
    #   pydantic-settings
    #   spikeinterface
pydantic-core==2.41.5
    # via pydantic
pydantic-settings==2.13.1
    # via dandischema
pynwb==3.1.3
    # via
    #   -r requirements.in
    #   dandi
    #   hdmf-zarr
    #   nwbinspector
pyout==0.8.1
    # via dandi
python-dateutil==2.9.0.post0
    # via
    #   arrow
    #   dandi
    #   pandas
    #   pynwb
python-dotenv==1.2.2
    # via pydantic-settings
pytz==2026.1.post1
    # via pandas
pyyaml==6.0.3
    # via
    #   -r requirements.in
    #   bidsschematools
    #   donfig
    #   nwbinspector
quantities==0.16.4
    # via neo
referencing==0.37.0
    # via
    #   jsonschema
    #   jsonschema-specifications
remfile==0.1.13
    # via -r requirements.in
requests==2.33.1
    # via
    #   dandi
    #   dandischema
    #   etelemetry
    #   nwbinspector
    #   probeinterface
    #   remfile
rfc3339-validator==0.1.4
    # via jsonschema
rfc3987==1.3.8
    # via jsonschema
rpds-py==0.30.0
    # via
    #   jsonschema
    #   referencing
ruamel-yaml==0.19.1
    # via
    #   dandi
    #   hdmf
secretstorage==3.5.0
    # via keyring
semantic-version==2.10.0
    # via dandi
six==1.17.0
    # via
    #   python-dateutil
    #   rfc3339-validator
spikeinterface==0.104.0
    # via -r requirements.in
tenacity==9.1.4
    # via dandi
tensorstore==0.1.82
    # via dandi
threadpoolctl==3.6.0
    # via
    #   hdmf-zarr
    #   spikeinterface
tqdm==4.67.3
    # via
    #   nwbinspector
    #   spikeinterface
    #   zarr-checksum
typing-extensions==4.15.0
    # via
    #   aiosignal
    #   pydantic
    #   pydantic-core
    #   referencing
    #   typing-inspection
    #   zarr
typing-inspection==0.4.2
    # via
    #   pydantic
    #   pydantic-settings
tzdata==2025.3
    # via
    #   arrow
    #   pandas
uri-template==1.3.0
    # via jsonschema
urllib3==2.6.3
    # via
    #   dandi
    #   requests
wcwidth==0.6.0
    # via blessed
webcolors==25.10.0
    # via jsonschema
wrapt==2.1.2
    # via deprecated
yarl==1.23.0
    # via
    #   aiohttp
    #   dandi
zarr==2.18.7
    # via
    #   -r requirements.in
    #   dandi
    #   hdmf-zarr
    #   spikeinterface
zarr-checksum==0.4.7
    # via
    #   dandi
    #   dandischema
